<div class="container">
    <h1 class="text-center">Add New Item here..</h1>
    <a href="/post/index" routerLink="/post/index/" class="btn btn-warning">Back</a> <!-- Changed btn-warn to btn-warning -->


    <form [formGroup]="form" (ngSubmit)="submit()"> <!-- Corrected 'from' to 'form' -->
        <div class="form-group"> <!-- Corrected 'from-group' to 'form-group' -->
             <label for="title">Item Name</label>
             <input type="text" id="title" formControlName="title" class="form-control">
             <div *ngIf="f['title'].touched && f['title'].invalid" class="alert alert-danger">
                <div *ngIf="f['title'].errors && f['title'].errors['required']">Title is required.</div>

            </div>
                 
        </div>
        <div class="form-group"> <!-- Corrected 'from-group' to 'form-group' -->
            <label for="body">Description</label>
            <input type="text" id="body" formControlName="body" class="form-control">
            <div *ngIf="f['body'].touched && f['body'].invalid" class="alert alert-danger">
               <div *ngIf="f['body'].errors && f['body'].errors['required']">Post is required.</div>

           </div>
                
       </div>
       <button class="btn btn-primary" type="submit" [disabled]="!form.valid">Create</button>
    </form> <!-- Corrected 'from' to 'form' -->
</div>
